body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.header {
   background-color: rgb(252, 243, 243);
    color: #050505;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 20px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-family: Consolas, monospace,
}

.logo-item{
    margin-top: 10px;
}

.category{
    margin-left: 70px;
}

.category a{
    margin-right: 15px;
    font-size: 18px;
    font-weight: 100;
    text-decoration: none;
    color: black;
}

.logo h1 {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0;
}


h2 {
    color: rgb(174, 108, 33);
    font-size: 38px;

}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    margin: 8px;

}

.nav p{
    margin: 6px !important;
   
}

.order{
    cursor: pointer;
}

.nav a {
    color: #000000;
    margin-right: 15px;
    font-size: 18px;
    font-weight: 100;
    text-decoration: none;
    color: black;
}

.button {
    background-color: #007BFF;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.badge-size{
    font-size: 15px;
  }

  span{
    color: rgb(10, 10, 10)
  }

.button:hover {
    background-color: #0056b3;
}

.header a.active {
    background-color: rgb(174, 108, 33);
    color: white;
    padding: 10px;
    border-radius: 5px;
  }

.material-icons{

    cursor: pointer;
    font-size: 25px;
}

.heart-icon {
    font-family: 'Material Icons';
    font-size: 48px;
    cursor: pointer;
    color: white; /* Bela boja */
    transition: color 0.3s;
  }

  .material-icons{
    padding: 5px;
  }

  .localization{
    position: fixed;
    right: 1%;
    top: 8%;
    z-index: 0;
  }
  
  
  
  .localization select{
    font-size: 20px;
    border-radius: 10px;
    color: rgb(109, 104, 104);
    width: 50px;
    background-color: rgb(244, 236, 236);
  
  }

  .navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
}

@media screen and (max-width: 2000px) {
    .navbar a {
        display: none;
    }

    .menu-toggle {
        display: none;
    }

    .menu-logo{
        display: none;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: #333;
        width: 100%;
    }

    .nav-menu a {
        padding: 15px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        display: block;
    }

    .show {
        display: block;
    }

    .dropdown-content a {
      display: none;
    }

    .dropdown-icon {
       display: none;
    }
}

@media only screen and (max-width: 450px) {

 .items{
    display: none;
 }

 .menu-logo{
    display: block;
    margin-left:240px;
    margin-top: 10px;
 }

 .menu-logo h1{
    font-size: 65px;
 }

 .menu-logo h2{
    font-size: 75px;
 }

 .header{
    width: 1150px;
 }

 .category{
    display: none;
 }

 .logo-item{
    display: none;
 }

 .menu{
    display: block;
 }

 .navbar{
    margin-left: 50px;
 }

 .navbar a {
    display: none;
}

.menu-toggle {
    display: block;
}

.localization{
    position: fixed;
    right: 6%;
    top: 6%;
    z-index: 0;
  }

  .localization select{
    font-size: 35px;
    border-radius: 10px;
    color: rgb(109, 104, 104);
    width: 75px;
    background-color: rgb(244, 236, 236);
  
  }

  .localization option{
    font-size: 15px;
  }

.nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #ffffff;
    width: 292%;
    height: 293vh;
    left: -27px;
    z-index: 10000;
    text-decoration: none;
    margin-top: 40px;
}

.nav-menu a {
    text-align: center;
    text-decoration: none;
    color: #000000;
    display: block;
}

.nav-menu p{
    font-size: 55px;
    line-height: normal;
    text-decoration: none;
    margin: 50px;
}

.bar {
    width: 67px;
    height: 14px;
    background-color: #fff;
    margin: 6px 0;
}

.material-icons{
    font-size: 50px;
    margin: 10px;
}

.badge-size{
    font-size: 40px;
}

.product-page{
    display: none;
}

.client{
    display: none;
}

mat-icon{
  width: 30px !important;
  height: 30px !important;
  padding: 30px !important;
  margin-bottom: 30px !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-icon {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 11111;
    right: 70px;
    height: 20vh;
    padding: 10px;

    /* Dodato za tranziciju */
    transition: opacity 2s ease-out, transform 0.3s ease-out;
    transform-origin: top right;
    opacity: 0;
    transform: scaleY(0);
}

.dropdown-icon {
    display: block;
 }

.dropdown-content a {
    color: black;
    padding: 15px 5px;
    line-height: normal;
    text-decoration: none;
    display: block;
    font-size: 40px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
    opacity: 1;
    transform: scaleY(1);
}

}

