<div class="wrapper">
    <div class="info">
        <div class="contact">
            <h1>Contact</h1>
            <div class="flex">
                <span>
                    <mat-icon>phone</mat-icon>
                </span>
                <p>031/800-8001</p>
            </div>
            <div class="flex">
                <span>
                    <mat-icon>add_to_home_screen</mat-icon>
                </span>
                <p>065/764-56-65</p>
            </div>
            <div class="flex">
                <span>
                    <mat-icon>add_to_home_screen</mat-icon>
                </span>
                <p>064/998-56-34</p>
            </div>
            <div class="flex">
                <span>
                    <mat-icon>schedule</mat-icon>
                </span>
                <p>Mon-Fri 08-20h</p>
            </div>
            <div class="flex">
                <span>
                    <mat-icon>email</mat-icon>
                </span>
                <p>info@sneakers.com</p>
            </div>
            <div class="flex">
                <span>
                    <mat-icon>location_on</mat-icon>
                </span>
                <p>Our Location</p>
            </div>
        </div>
        <div class="information">
            <h1>Information</h1>
            <div class="content">
                <p>About Us</p>
                <p>Privacy policy</p>
                <p>Employment</p>
                <p>Gift cards</p>
                <p>Contact</p>
            </div>
        </div>
        <div class="service">
            <h1>Customer-service</h1>
            <div class="content">
                <p>Terms of use and sale</p>
                <p>Return in store}</p>
                <p>Delivery</p>
                <p>Complaints</p>
                <p>Instruction for registration</p>
            </div>
        </div>
    </div>
</div>