<div class="wrapper">
    <div class="info">
        <div class="contact">
            <h1>{{"contact" | translate}}</h1>
            <div class="flex">
                <span>
                    <mat-icon>phone</mat-icon>
                </span>
                <p>031/800-8001</p>
            </div>
            <div class="flex">
                <span>
                    <mat-icon>add_to_home_screen</mat-icon>
                </span>
                <p>065/764-56-65</p>
            </div>
            <div class="flex">
                <span>
                    <mat-icon>add_to_home_screen</mat-icon>
                </span>
                <p>064/998-56-34</p>
            </div>
            <div class="flex">
                <span>
                    <mat-icon>schedule</mat-icon>
                </span>
                <p>{{"date" | translate}} 08-20h</p>
            </div>
            <div class="flex">
                <span>
                    <mat-icon>email</mat-icon>
                </span>
                <p>info@sneakers.com</p>
            </div>
            <div class="flex">
                <span>
                    <mat-icon>location_on</mat-icon>
                </span>
                <p>{{"location" | translate}}</p>
            </div>
        </div>
        <div class="information">
            <h1>{{"information" | translate}}</h1>
            <div class="content">
                <p>{{"aboutUs" | translate}}</p>
                <p>{{"privacy-policy" | translate}}</p>
                <p>{{"employment" | translate}}</p>
                <p>{{"gift-card" | translate}}</p>
                <p>{{"contact" | translate}}</p>
            </div>
        </div>
        <div class="service">
            <h1>{{"service" | translate}}</h1>
            <div class="content">
                <p>{{"terms" | translate}}</p>
                <p>{{"return-item" | translate}}</p>
                <p>{{"delivery" | translate}}</p>
                <p>{{"complaints" | translate}}</p>
                <p>{{"instruction" | translate}}</p>
            </div>
        </div>
        <div style="flex:0.6">
            <div class="content">
                <div class="img">
                <img src="assets/images/master.webp">
                <img src="assets/images/visa.webp">
                <img src="assets/images/img.webp">
                <img src="assets/images/img3.webp">
                   <img src="assets/images/img4.webp">
                      <img src="assets/images/american.webp">
                </div>
                <h6 style="margin-top: 10px;">Cene na sajtu su iskazane u dinarima sa uračunatim porezom, a plaćanje se vrši isključivo u dinarima.
                    Isporuka se vrši SAMO na teritoriji Republike Srbije.</h6>
                <br>
                <h6>
                    Nastojimo da budemo što precizniji u opisu proizvoda, prikazu slika i samih cena, ali ne možemo
                    garantovati
                    da su sve informacije kompletne i bez grešaka. Svi artikli prikazani na sajtu su deo naše ponude i
                    ne
                    podrazumeva da su dostupni u svakom trenutku.
                </h6>
            </div>
        </div>
    </div>
</div>