.container{
    max-width: 1400px;
    margin: 0 auto;
    height: 70vh;
    background-color: white;
  
  }
  
  .card{
  text-align: center;
  margin: 25px;
  padding: 25px;
  }

  .card h3{
    font-size: 38px;
    font-weight: 350;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .center{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .center h5{
    font-size: 25px;
  }
  
  .center img{
    width: 290px;
  }

  
  .add-to-cart{
    background-color: rgb(174, 108, 33);
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 30px;
  }
  

  @media only screen and (max-width: 600px) {

    .container{
      width: 1220px;
      position: relative;
      height: 70vh;
      background-color: white;
    }
    .center{
      position: absolute;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    .center img{
      width: 150px;
    }

    .center h5{
      font-size: 30px;
    }

    .center h4{
      font-size: 22px;
    }

    .add-to-cart{
      font-size: 25px;
    }
}

@media only screen and (max-width: 600px) {

  .container{
    width: 1220px;
    position: relative;
    height: 115vh;
    background-color: white;
  }
  .center{
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .center img{
    width: 150px;
  }

  .center h5{
    font-size: 50px;
    font-weight: 400;
    padding: 20px;
    line-height: normal;
  }

  .center h4{
    font-size:36px;
    line-height: normal;
  }

  .add-to-cart{
    font-size: 40px;
    font-weight: 200;
  }
}

@media only screen and (max-width: 450px) {

  .container{
    width: 985px;
    position: relative;
    height: 118vh;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
  }
  .center{
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .center img{
    width: 150px;
  }

  .center h5{
    font-size: 50px;
    font-weight: 400;
    padding: 20px;
    line-height: normal;
  }

  .center h4{
    font-size:36px;
    line-height: normal;
    padding: 30px;
  }

  .add-to-cart{
    font-size: 40px;
    font-weight: 200;
  }
}