.modal-bg {
    position: fixed;
    top: 10px;
    background-color: rgba(0,0,0,0.1);
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  
  .modal-content {
    background: white;
    margin: 0 auto;
    height: auto;
    padding: 20px;
    border-radius: 10px;
  }
  .modal-close {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .modal-close  img{
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  

  @media only screen and (max-width: 450px) {
    .modal-close img{
      width: 35px;
      height: 35px;
    }
  }