.product-container{
    max-width: 1550px;
    padding: 10px 10px 60px 40px;
    gap:2rem;
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
  
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    height: 50vh;
    margin-top: 50px;
  }
  
  .card{
  text-align: center;
  margin: 25px;
  padding: 25px;
  cursor: pointer;
  }

  .card h3{
    font-size: 38px;
    font-weight: 350;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .center{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid rgb(220, 213, 213);
    border-radius: 10px;
    padding: 30px;
  }
  
  .center h5{
    font-size: 25px;
  }
  
  .center img{
    width: 300px;
  }

  img{
    width: 390px;
  }

  
.card-title{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.card-title img{
 width: 20px;
}

.price-container{
  padding: 12px;
  background-color: red;
  color:white;
  font-size: 15px;
}
  
  .add-to-cart{
    background-color: rgb(174, 108, 33);
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 30px;
  }

  
@media only screen and (max-width: 600px) {
mat-card-subtitle{
  font-size: 25px;
  padding: 0px 0px 5px 0px;
}

.price-container{
  font-size: 22px;
}

.container{
  height: 20vh;
}

.center{
  position: relative;
  width: 900px;
  background-color: white;
}

.center h5{
  font-size: 45px;
  padding: 5px;
}

.center h4{
  font-size: 35px;
  padding: 15px;
  line-height: normal;
}

.center button{
  font-size: 35px;
}
}
  

@media only screen and (max-width: 450px) {
  .product-container {
    margin: 0 auto;
    margin-top: 140px;
    width:1032px;
   padding: 90px;
}

.price-container{
  font-size: 35px;
  line-height: normal;
}

mat-card-subtitle{
  font-size: 35px;
  line-height: normal;
}

img{
width: 500px;
}

.card-title img{
  width: 25px;
  height: 37px;
}

  }