<div class="checkout-container">
    <div class="form-container">
        <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
            <h5>{{"total for payment" | translate}}: <span>{{totalPrice}} RSD</span></h5>
            <label for="email" class="required">Email:</label>
            <input type="email" id="email" name="email" required formControlName="email">

            <div class="flex-container">
                <div>
                    <label for="firstName" class="required">{{"name" | translate}}:</label>
                    <input type="text" id="firstName" name="firstName" required formControlName="name">
                </div>

                <div>
                    <label for="lastName" class="required">{{"surname" | translate}}:</label>
                    <input type="text" id="lastName" name="lastName" required formControlName="surname">
                </div>
            </div>

            <div class="flex-container">
                <div>
                    <label for="city" class="required">{{"city" | translate}}:</label>
                    <input type="text" id="city" name="city" required formControlName="city">
                </div>

                <div>
                    <label for="postalCode" class="required">{{"zip" | translate}}:</label>
                    <input type="text" id="postalCode" name="postalCode" required formControlName="zip">
                </div>
            </div>

            <label for="address" class="required">{{"mobilePhone" | translate}}:</label>
            <input id="address" name="address" required formControlName="mobilePhone">


            <label for="address" class="required">{{"address" | translate}}:</label>
            <input id="address" name="address" required formControlName="address">

            <label for="country" class="required">{{"country" | translate}}:</label>
            <input type="text" id="country" name="country" required formControlName="country">

            <label for="comment">{{"comment"| translate}}:</label>
            <textarea id="comment" name="comment" rows="4"
                placeholder="If you want, you can leave us the desired comment, note..."
                formControlName="comment"></textarea>

            <div class="option-delivery">
                <h4>{{"option for delivery" | translate}}</h4>
                <div class="options">
                    <p>{{"delivery on address" | translate}}</p>
                    <p>{{"free for orders" | translate}}</p>
                </div>

            </div>
            <button type="submit" class="submit-button">
                <div class="filter-button">
                    <p>{{"confirm button" | translate}}</p>
                </div>
            </button>
        </form>
    </div>
    <app-expand-panel></app-expand-panel>


</div>