
    <div class="container">
      <div class="center">
        <img
          src="assets/images/no-search.avif"
        />
        <h2>Vaša pretraga nije dala nikakve rezultate.</h2>
        <h4>Trenutno ne postoji rezultat za Vašu pretragu.</h4>
        <h5>Pomoć u pretrazi:</h5>
        <h4>• Proverite greške u kucanju.</h4>
        <h4>• Koristite više generčkih termina za pretragu.</h4>
        <h4>• Proizvod ili kategorija koju tražite možda nisu još uvek dostupni na našoj online prodavnici</h4>

      </div>
    </div>