<div class="wrapper">
    <div class="info">
      <div class="flex">
        <span>
          <mat-icon>local_shipping</mat-icon>
        </span>
        <h1>Fast delivery</h1>
      </div>
      <div class="flex">
        <span>
          <mat-icon>credit_card</mat-icon>
        </span>
        <h1>Hire purchase</h1>
      </div>
      <div class="flex">
        <span>
          <mat-icon>restore</mat-icon>
        </span>
        <h1>Return money within 14 days</h1>
      </div>
    </div>
  </div>
  