html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    height: 100vh;
}

.product-container {
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.product-info {
    flex: 1;
    padding: 20px;
}

.product-info h2 {
    font-size: 24px;
    margin-top: 0;
}

.product-info p {
    font-size: 16px;
    margin-bottom: 15px;
}

.circle-icon {
    font-family: 'Material Icons';
    font-size: 16px;
    margin: 5px;
    display: inline-block;
    border: 2px solid #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 34px;
    cursor: pointer;
}

.circle-icon.clicked {
    background-color: #333;
    color: white;
}

h3 {
    font-weight: 500;
}

.button-container {
    display: flex;
    padding: 10px;
    margin-top: 100px;
}

.custom-button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.heart-icon {
    font-family: 'Material Icons';
    font-size: 48px;
    cursor: pointer;
    color: rgba(255, 0, 0, 0.5); 
    transition: color 0.3s;
    margin-top: 20px;
  }

  .delivery{
    margin-top: 100px;
    cursor: pointer;
  }

  .delivery p {
    font-size: 15px;
  }
  
  .info{
    display: flex;
    justify-content: space-between;
    margin-top: 250px;
    text-align: center;
    align-items: center;
  }

  .info p {
    line-height: normal;
  }

  @media only screen and (max-width: 600px) {
    body {
        height: auto;
    }

    .product-container {
        flex-direction: column; 
    }

    .product-info {
        padding: 10px; 
    }

    .product-info h2 {
        font-size: 30px; 
    }

    .product-info p {
        font-size: 25px; 
    }

    .circle-icon {
        font-family: 'Material Icons';
        font-size: 50px;
        margin: 5px;
        display: inline-block;
        border: 2px solid #333;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        text-align: center;
        line-height: 45px;
        cursor: pointer;
    }
    
    h3{
        font-size: 23px;
    }

    .button-container {
        display: flex;
        padding: 10px;
        margin-top: 100px;
    }
    
    .custom-button {
        padding: 10px 20px;
        margin: 10px;
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 25px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .button-container {
        flex-direction: column; 
        margin-top: 20px; 
    }

    .custom-button {
        width: 100%; 
    }

    .heart-icon {
        margin-top: 10px; 
        text-align: center;
    }

    .delivery {
        margin-top: 20px;
    }
  
    .delivery p {
        font-size: 14px; 
    }
}

@media only screen and (max-width: 450px) {
    body {
        height: auto;
    }

    .product-container {
        flex-direction: column; 
        height: 301vh;
    }

    .product-info {
        padding: 20px; 
    }

    .product-info h2 {
        font-size: 50px; 
    }

    .product-info p {
        font-size: 40px; 
        line-height: normal;
        padding: 20px 0px 20px 0px;
    }

    .product-info h5{
        font-size: 38px;
    }

    .circle-icon {
        font-family: 'Material Icons';
        font-size: 40px;
        margin: 5px;
        display: inline-block;
        border: 2px solid #333;
        border-radius: 50%;
        width: 83px;
        height: 83px;
        text-align: center;
        line-height: 67px;
        cursor: pointer;
    }
    
    h3{
        font-size: 40px;
        padding: 20px 0px 20px 0px;
    }

    .button-container {
        display: flex;
        padding: 10px;
        margin-top: 100px;
    }
    
    .custom-button {
        padding: 10px 20px;
        margin: 10px;
        background-color: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 35px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .button-container {
        flex-direction: column; 
        margin-top: 20px; 
        padding: 80px;
    }

    .custom-button {
        width: 100%; 
    }

    .heart-icon {
        margin-top: 10px; 
        text-align: center;
        font-size: 60px;
        padding: 15px;
    }

    .delivery {
        display: none;
    }

    .flex span mat-icon{
        font-size: 50px;
        padding: 30px;
    }
  
   
}