<div class="product-container">
    <div class="product-image">
        <img src="{{data.image}}" alt="Product Image">
    </div>
    <div class="product-info">
        <h2>{{data.title}}</h2>
        <p>{{data.description}}</p>
        <h2>{{data.price}} RSD</h2>
        <h3>Velicine</h3>
        <p class="circle-icon" id="small">S</p>
        <p class="circle-icon" id="medium">M</p>
        <p class="circle-icon" id="large">L</p>
        <p class="circle-icon" id="extra-large">XL</p>
        <p class="circle-icon" id="extra-extra-large">XXL</p>
        <div class="button-container">
            <button class="custom-button" (click)="addToCartItem(data)">Add to cart</button>
            <button class="custom-button">Buy Now</button>
            <span class="heart-icon" id="heart" title="Add to favorite" (click)="addToFavorite(data)">favorite_border</span>
          </div>
        <div class="delivery"><p>Delivery</p></div>
    </div>
</div>