<div class="product-container">
    <div class="product-image">
        <img src="{{data.image}}" alt="Product Image">
    </div>
    <div class="product-info">
        <h2>{{data.title}}</h2>
        <p>{{data.description}}</p>
        <h2>{{data.price}} RSD</h2>
        <h3>{{"size"| translate}}</h3>
        <h5 class="circle-icon" id="small" (click)="toSelectedSize('S')">S</h5>
        <h5 class="circle-icon" id="medium" (click)="toSelectedSize('M')">M</h5>
        <h5 class="circle-icon" id="large" (click)="toSelectedSize('L')">L</h5>
        <h5 class="circle-icon" id="extra-large" (click)="toSelectedSize('XL')">XL</h5>
        <h5 class="circle-icon" id="extra-extra-large" (click)="toSelectedSize('XXL')">XXL</h5>
        <div class="button-container">
            <button class="custom-button" (click)="addToCartItem(data)">{{"add-to-cart-button" | translate}}</button>
            <button class="custom-button" (click)="buyNowProduct(data)">{{"buy-now" | translate}}</button>
            <span class="heart-icon" title="Add to favorite" (click)="addToFavorite(data)">favorite_border</span>
          </div>
            <div class="wrapper">
                <div class="info">
                  <div class="flex">
                    <span>
                      <mat-icon>local_shipping</mat-icon>
                    </span>
                    <p>{{"fast-delivery" | translate}}</p>
                  </div>
                  <div class="flex">
                    <span>
                      <mat-icon>credit_card</mat-icon>
                    </span>
                    <p>{{"hire-purchase" | translate}}</p>
                  </div>
                  <div class="flex">
                    <span>
                      <mat-icon>restore</mat-icon>
                    </span>
                    <p>{{"return-money" | translate}}</p>
                  </div>
                </div>
              </div>
    </div>
</div>