.example-card {
    max-width: 450px;
    width: max-content;
    padding: 0;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    max-width: min-content;
    cursor: pointer;
}

.product-container {
    max-width: 2000px;
    margin: 70px;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}


.search-container {
    max-width: 2000px;
    margin: 90px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.search p {
    font-size: 20px;
    font-weight: 450;
    margin-top: 100px;

}

.heart-icon {
    font-family: 'Material Icons';
    font-size: 27px;
    cursor: pointer;
    color: rgba(255, 0, 0, 0.5);
    margin-top: 20px;
}

.card-title {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.price-container {
    padding: 12px;
    background-color: red;
    color: white;
    font-size: 15px;
}

.price-container[_ngcontent-ng-c4000375011] {
    padding: 10px;
    background-color: red;
    color: white;
    font-size: 20px;
}

.title {
    max-width: 1450px;
    margin: 0 auto;
    margin-top: 50px;

}

.title h1 {
    font-size: 40px;
    font-weight: 350;
}

.paginator {
    font-size: 18px;
    width: 350px;
    padding: 30px;
    margin: 0px auto;
}


.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 22%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: gray;
}

.no-products-message {
    background-color: #f8f8f8;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: #555;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

.submit-button {
    position: absolute;
    right: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 2px;
    margin: 0px 100px 0px 0px;
    border: none;
    width: 10%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
    border-color: rgb(127, 123, 123);
    border: 2px solid rgb(152, 144, 144);

}

.filter-button {
    display: flex;
    margin: 0;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 10px;
}

p {
    font-size: 20px;
    text-align: center;
}

.container img {
    width: 385px;
}

mat-card-subtitle {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

mat-card-content {
    text-align: center;
    padding: 10px;
}

mat-card-content p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .product-container {
        margin: 0 auto;
        width: 1050px;
        margin-left: 50px;
        padding: 0px 50px 50px 50px;
    }

    .paginator {
        margin: 0 auto;
        text-align: center;
        margin-left: 270px;
    }

    .search-container {
        width: 900px;
        display: flex;
        justify-content: space-between;
        margin-top: 120px;
    }

    .submit-button {
        position: absolute;
        right: -577px;
        width: 160px;
    }

    .heart-icon {
        display: none;
    }

    .container img {
        width: 451px;
    }

    .filter-button p {
        font-size: 35px;
    }

    mat-icon {
        font-size: 31px;
    }

    mat-card-subtitle {
        font-size: 31px;
    }

    .price-container[_ngcontent-ng-c4000375011][_ngcontent-ng-c4000375011] {
        padding: 10px;
        background-color: red;
        color: white;
        font-size: 35px;
    }

}

.form__field {
    font-size: 30px;
    margin-left: 30px;
}


@media only screen and (max-width: 450px) {
    .product-container {
        margin: 0 auto;
        width: 1124px;
        padding: 0px 50px 50px 50px;
    }

    .paginator {
        margin: 0 auto;
        text-align: center;
        margin-left: 330px;
        font-size: 40px;
    }


    .search-container {
        width: 900px;
        display: flex;
        justify-content: space-between;
    }

    .submit-button {
        position: absolute;
        left: 991px;
        width: 160px;
    }

    .container img {
        width: 514px;
    }

    .filter-button p {
        font-size: 35px;
    }

    .heart-icon {
        display: none;
    }

    mat-icon {
        font-size: 30px;
    }

    mat-card-subtitle {
        text-align: center;
        font-size: 50px;
        line-height: normal;
        margin: 0;
        padding: 0px 0px 20px 0px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .price-container {
        padding: 20px;
        background-color: red;
        color: white;
        font-size: 30px;
    }

    .form__field {
        font-size: 30px;
        margin: -18px;
    }

    .form__group input{
        font-size: 40px;
    }
}