.example-card {
    max-width: 400px;
    width: max-content;
    padding: 0;
    margin: 20px;
    border-radius: 20px;
    background-color: rgb(245, 238, 238);
    max-width: min-content;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
}

.product-container{
    max-width: 1550px;
    padding: 10px 10px 60px 40px;
    gap:1rem;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
}


.search-container {
    max-width: 1520px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.search p {
    font-size: 20px;
    font-weight: 450;
    margin-top: 100px;

}

.title {
    max-width: 1450px;
    margin: 0 auto;
    margin-top: 50px;
    border-left: 7px solid red;
}

.title h1 {
    font-size: 40px;
    font-weight: 350;
}

.paginator {
    font-size: 18px;
    width: 350px;
    padding: 30px;
    margin: 0px auto;
}


.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 22%;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: gray;
}

.no-products-message {
    background-color: #f8f8f8;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: #555;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
  }

  .submit-button{
    position: absolute;
    right: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 2px;
    margin: 0px 110px 0px 0px;
    border: none;
    width: 10%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
    border-color: rgb(127, 123, 123);
    border: 2px solid rgb(152, 144, 144);

  }

.filter-button{
display: flex;
margin: 0;
justify-content: space-evenly;
text-align: center;
margin-top: 10px;
  }

  p{
    font-size: 20px;
    text-align: center;
  }

mat-card-subtitle{
    text-align: center;
    font-size: 16px;
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

mat-card-content{
    text-align: center;
    padding: 10px;
}

mat-card-content p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}



