<div class="wrapper">
    <div class="info">
      <div class="flex">
        <span>
          <mat-icon>local_shipping</mat-icon>
        </span>
        <h1>{{"fast-delivery" | translate}}</h1>
      </div>
      <div class="flex">
        <span>
          <mat-icon>credit_card</mat-icon>
        </span>
        <h1>{{"hire-purchase" | translate}}</h1>
      </div>
      <div class="flex">
        <span>
          <mat-icon>restore</mat-icon>
        </span>
        <h1>{{"return-money" | translate}}</h1>
      </div>
    </div>
  </div>
  